<div class="container">
  <h2>Microfrontend Shell</h2>
  <p>Welcome to the Angular 11 Microfrontend demo using Webpack 5 Module Federation</p>
  <br />
  <button *ngIf="!loadComponent" (click)="loadComponent = true">Load federated-component</button>

  <federated-component 
    *ngIf="loadComponent"
    [componentName]="environemnt.drawComponent.componentName" 
    [remoteEntry]="environemnt.drawComponent.remoteEntry"
    [remoteName]="environemnt.drawComponent.remoteName" 
    [exposedModule]="environemnt.drawComponent.exposedModule">
  </federated-component>
</div>